/* export to custom props */
:root {
  /* Colors */
  /* Chalkbeat brand colors */
  --cbLogo: #3666EC;
  --cbBureau: #03938F;
  /* Votebeat colors */
  --vbLogo: #7E509E;
  --vbBureau: #331B3D;
  /* Healthbeat colors */
  --hbLogo: #F25A4D;
  --hbBureau: #DD405E;


  /* Primary colors */
  --darker-gray: #222222;
  --dark-gray: #393939;
  --teal: #178287;

  --primary-color: var(--teal);

  /* Secondary colors */
  --yellow: #F4C96C;
  --blue: #268CBA;
  --peach: #F79C75;
  --purple: #BD75AC;
  --cream: #F5F2E9;

  /* Extended colors */
  --lighter-gray: #ECECEC;
  --light-gray: #DCDCDC;
  --gray: #828282;

  --light-teal: #9CD1D4;
  --dark-teal: #127479;

  --light-yellow: #F0DFBC;
  --dark-yellow: #AC8E4C;

  --light-peach: #F1CEBF;
  --dark-peach: #AE6E52;

  --light-purple: #DBC0D4;
  --dark-purple: #855279;

  --light-blue: #A1C8DA;
  --dark-blue: #1B6383;

  --dark-red: #AE5252;
  --red: #F77575;
  --light-red: #F1BFBF;

  --dark-green: #4A8B44;
  --green: #19AB76;
  --light-green: #A7DCBC;

  /* Font stacks */
  --serif: "Crimson Pro", Times, serif;
  --sans: Figtree, Helvetica, Arial, sans-serif;

  &.Votebeat {
    --logo: var(--vbLogo);
    --bureau: var(--vbBureau);
  }

  &.Chalkbeat {
    --logo: var(--cbLogo);
    --bureau: var(--cbBureau);
  }

  &.Healthbeat {
    --logo: var(--hbLogo);
    --bureau: var(--hbBureau);
  }
}


/* Media queries */
/* Replace these variables with better syntax when it becomes available */
@custom-media --mobile (max-width: 600px);
@custom-media --tablet (max-width: 1100px);
@custom-media --desktop (min-width: 601px);

/*defensive coding */
* {
  /*border-box, you're the best */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  /*Safari, you're the worst */
  -webkit-tap-highlight-color: transparent;
}

/*elements */
body {
  padding: 0;
  margin: 0;
  /*remove 300ms click delay in Safari, AKA still the worst */
  touch-action: manipulation;
  font-family: var(--serif);
  font-size: 21px;
  line-height: 1.4;
  color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 1;
  }
}

img, svg {
  max-width: 100%;
}

h1 {
  font-size: 44px;
  font-family: var(--sans);

  @media (--mobile) {
    font-size: 34px;
  }
}

h2 {
  font-size: 30px;
  font-family: var(--sans);
  font-weight: normal;

  @media (--mobile) {
    font-size: 24px;
  }
}


a, a:visited {
  color: var(--bureau);

  &:active, &:hover, &:focus {
    color: var(--logo);
  }
}

img:not([alt]) {
  outline: 3px solid red;

  [aria-hidden] &,
  [role="img"] & {
    outline: none;
  }
}

header {
  text-align: center;
  padding: 20px;

  img {
    max-height: 50px;
  }
}

footer {
  background: var(--cream);
  padding-top: 4em;

  .rhombus {
    position: relative;
    color: var(--cream);
    margin: auto;
    width: 600px;
    max-width: 100%;
    text-align: center;
    font-family: var(--sans);
    font-size: 13px;
    text-transform: uppercase;
    padding: 1em;

    @media (--tablet) {
      overflow: hidden;
    }

    &::before {
      z-index: 0;
      position: absolute;
      inset: 0;
      transform: skew(-20deg);
      background: #333;
      content: "";
      display: block;
    }

    .content {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .copyright {
      flex: 1;
    }

    img {
      max-height: 20px;

      @media (--mobile) {
        max-height: 40px;
      }
    }
  }
}